.toc-back-btn {
    margin-top: 16px;
    text-align: center;
}
.toc-back-btn a {
    display: block;
    padding: 6px 0;
    border-radius: 4px;
    background: #49b1f5;
    color: #fff;
}
.toc-back-btn a:hover {
    background: #2293dd;
}